.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

#titulo {
    margin: 20px auto;
    width: 230px;
    height: 3px;
}

#lista-apagar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}